body {
  background: #141E30;

  margin: 0;
  padding: 0;
}

p {
  font-family: Arial;
  font-size: 16px;
}

h1 {
  font-family: cursive;
  color: navy;
}

h2 {
  font-family: Helvetica;
  color: DarkSlateGray;
}

.navigation {
  font-weight: bold;
  color: black;
  font-family: serif;
}
